default_bits       = 2048
prompt = no
distinguished_name  = dn
x509_extensions     = san
req_extensions      = san
extensions          = san
[ dn ]
countryName                 = DE
stateOrProvinceName         = Bavaria
localityName               = Munich
organizationName           = Tobeno
commonName                 = Tobeno
[ san ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = localhost
IP.1   = 127.0.0.1
IP.2        = ::1
